extends ../layouts/base.pug

block header
  div.page-header
    h1.page-title
      div.row.align-items-center
        div.col-auto: a.avatar.avatar-md.rounded(href=`/${org}` style=`background-image: url(https://unavatar.now.sh/github/${org})`)
        div.col-auto
          a(href=`/${org}`)= org
          i.fe.fe-chevron-right(style='vertical-align: middle')
          span= name

    div.page-options.d-flex
      a.btn.btn-secondary(href= repository.url ): i.fe.fe-github
