extends ../layouts/base.pug

block header
  div.page-header
    h1.page-title Dashboard

    - if (installations)
      div.page-subtitle #[i= installations.length] installations

    - if (installations)
      div.page-options.d-flex
        a(href=`https://github.com/apps/${process.env.APP_SLUG}/installations/new` target='_blank').btn.btn-secondary
          i.fe.fe-plus.mr-2
          | Install
