head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no')

    title Colophon
    meta(name='description' content='')

    link(rel='stylesheet' href='https://unpkg.com/tabler-ui@0.0.32/dist/assets/css/tabler.css')
    script(src='https://unpkg.com/tabler-ui@0.0.32/dist/assets/js/require.min.js')
    script.
      requirejs.config({ baseUrl: 'https://unpkg.com/tabler-ui@0.0.32/dist/' })
    script(src='https://unpkg.com/tabler-ui@0.0.32/dist/assets/js/dashboard.js')
