extends layout.pug

block content
  div.card
    div.card-status.bg-red
    div.card-header
      h3.card-title No Installations Found
      div.card-options: span.badge.badge-danger 404

    div.card-alert.alert.alert-danger.mb-0
      i.fe.fe-alert-triangle.mr-2
      | missing Colophon App installation

    div.card-body
      h3 How to install
      p
        | Visit the
        | #[a(href=`${process.env.GITHUB_APP_LINK}/installations/new` target='_blank') Colophon App Page]
        | to get started

      div.alert.alert-success
        i.fe.fe-alert-triangle.mr-2
        | #[strong Note:] you need to be an #[a(href='https://help.github.com/articles/repository-permission-levels-for-an-organization/' target='_blank'): code owner] on the target organization.

      div.alert.alert-info
        | #[i.fe.fe-info.m2-2] read more about #[a(href='https://help.github.com/articles/installing-an-app-in-your-organization/' target='_blank') Installing an app in your organization].

      hr

      p Once installed, reload this page to see all your repositories.

