extends ../layout.pug

block content
  style.
    .card { border-radius: 24px 8px }
    .card__primary { padding: 1rem }
    .card__title { margin: 0 }
    .card__secondary { padding: 0 1rem 8px 1rem }

  div.mdc-layout-grid__inner
    each repo in repositories
      div.mdc-layout-grid__cell--span-6
        div.mdc-card.card
          div.card__primary
            h2.card__title.mdc-typography--headline6= repo.full_name

          div.card__secondary.mdc-typography--body2= repo.description

          div.mdc-card__actions
            div.mdc-card__action-buttons
              a.mdc-card__action.mdc-card__action--button.mdc-button(href=`/dashboard/${installation_id}/${repo.full_name}`)
                i.mdc-button__icon.material-icons notes
                | Details

            div.mdc-card__action-icons
              a.mdc-icon-button.mdc-card__action.mdc-card__action--icon(href= repo.html_url target='_blank'): span.mdi.mdi-github-circle
