doctype html
html
  include includes/head.pug

  body
    div.page
      div.page-single
        div.container
          div.row
            div.col.col-login.mx-auto
              div.text-center.mb-6
                img.h-6(src='https://raw.githubusercontent.com/project-colophon/brand/master/logo.png')

              div.card
                div.card-body.p-6
                  div.card-title Home

