doctype html
html
  include _includes/head.pug

  body
    div.page
      div.page-single
        div.container
          div.row
            div.col.col-login.mx-auto
              div.text-center.mb-6.header-brand
                img.header-brand-img(src='https://raw.githubusercontent.com/project-colophon/brand/master/logo.png')
                | Colophon

              div.card
                div.card-body.p-6
                  div.card-title.text-center Get Started

                  div.form-group
                    a.btn.btn-success.btn-block(href='/auth/in') Sign in with GitHub

                  div.form-group
                    a.btn.btn-primary.btn-block(href=`${process.env.GITHUB_APP_LINK}/installations/new`) Install Colophon

              div.text-center.text-muted Want to run Colophon on your own? #[a(href='/docs') find out how]
