extends layout.pug

block content
  div.card
    div.table-responsive
      table.table.table-hover.table-outline.table-vcenter.text-nowrap.card-table
        thead
          tr
            th Repository
            th.text-right Activity
            th.text-center.w-1

        tbody
          each repo in repositories
            tr
              td
                a(href=`/${repo.org}/${repo.name}`)=repo.name

              td.text-right
                div.small.text-muted Last Update
                div= day(repo.updated).fromNow()

              td.text-center
                div.item-action.dropdown
                  a.icon(href='javascript:void(0)', data-toggle='dropdown'): i.fe.fe-more-vertical

                  div.dropdown-menu.dropdown-menu-right
                    a.dropdown-item(href='javascript:void(0)')
                      i.dropdown-icon.fe.fe-refresh-cw
                      |  Scan

                    a.dropdown-item(href='javascript:void(0)')
                      i.dropdown-icon.fe.fe-clipboard
                      |  View Colophon

                    div.dropdown-divider

                    a.dropdown-item(href=`https://github.com/${repo.org}/${repo.name}` target='_blank')
                      i.dropdown-icon.fe.fe-github
                      |  GitHub
