doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no')

    title Colophon
    meta(name='description' content='')

    //- TODO: use CDN
    link(rel='stylesheet' href='/assets/css/tabler.css')
    script(src='/assets/js/require.min.js')
    script(src='/assets/js/dashboard.js')

    script.
      requirejs.config({ baseUrl: '.' })

  body
    div.page
      div.page-single
        div.container
          div.row
            div.col.col-login.mx-auto
              div.text-center.mb-6
                img.h-6(src='https://raw.githubusercontent.com/project-colophon/brand/master/logo.png')

              div.card
                div.card-body.p-6
                  div.card-title Login to your account

                  div.form-group
                    a.btn.btn-success.btn-block(href='/auth/in') Sign in with GitHub

                  div.form-group
                    a.btn.btn-primary.btn-block(href=`https://github.com/apps/${process.env.APP_SLUG}/installations/new`) Install Colophon

              div.text-center.text-muted Want to run Colophon on your own? #[a(href='/docs') find out how]
